[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/agile/localization_init_tranmap/src/scripts/start.sh
Name=Robot
Comment=ROS_Robot
Icon=/home/agile/localization_init_tranmap/src/scripts/icon.png
